.SettingTitle {
    text-align: center;
    color: rgb(22, 22, 22);
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 33%;
    left: 6.5%;
    /* transform: translateX(-50%) translateY(-50%); */
    font-size: 1.3vw;
}

.SpeedSelection {
    /* text-align-last: center; */
    color: white;
    /* margin: 0;
    padding: 0; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 36.5%;
    left: 7%;
    /* transform: translateX(-50%) translateY(-50%); */
    font-size: 1.2vw;
    height: 3.75%;
    width: 10.5%;
    border-radius: 10px;
    border-width: 0;
    background-color: rgb(22, 22, 22);
}

.SpeedLabel {
    /* text-align: center; */
    color: rgb(22, 22, 22);
    /* margin: 0;
    padding: 0; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 37.5%;
    left: 1%;
    /* transform: translateX(-50%) translateY(-50%); */
    font-size: 1vw;    
}


.SizeSelection {
    /* text-align: center; */
    color: white;
    /* margin: 0;
    padding: 0; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 42%;
    left: 7%;
    /* transform: font-size: 20px;translateX(-50%) translateY(-50%); */
    font-size: 1.2vw;
    height: 3.6%;
    width: 10.5%;
    border-radius: 10px;
    border-width: 0;
    background-color: rgb(22, 22, 22);
}

.SizeLabel {
    /* text-align: center; */
    color: rgb(22, 22, 22);
    /* margin: 0;
    padding: 0; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 43%;
    left: 1%;
    /* transform: translateX(-50%) translateY(-50%); */
    font-size: 1vw;   
}

.DistrubutionSelection {
    /* text-align: center; */
    color: white;
    /* margin: 0;
    padding: 0; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 47.5%;
    left: 7%;
    /* transform: font-size: 20px;translateX(-50%) translateY(-50%); */
    font-size: 0.9vw;
    height: 3.6%;
    width: 10.5%;
    border-radius: 10px;
    border-width: 0;
    background-color: rgb(22, 22, 22);
}

.DistributionLabel {
    /* text-align: center; */
    color: rgb(22, 22, 22);
    /* margin: 0;
    padding: 0; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 48%;
    left: 1%;
    /* transform: translateX(-50%) translateY(-50%); */
    font-size: 1vw; 
}

