.StatisticsTitle {
    text-align: center;
    color: rgb(22, 22, 22);
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 53.5%;
    left: 5.5%;
    /* transform: translateX(-50%) translateY(-50%); */
    font-size: 1.3vw;
}

.AccessLabel {
    /* text-align: center; */
    color: rgb(22, 22, 22);
    /* margin: 0;
    padding: 0; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 57.5%;
    left: 1%;
    /* transform: translateX(-50%) translateY(-50%); */
    font-size: 1vw;      
}

.ComparisonLabel {
    /* text-align: center; */
    color: rgb(22, 22, 22);
    /* margin: 0;
    padding: 0; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 63%;
    left: 1%;
    /* transform: translateX(-50%) translateY(-50%); */
    font-size: 1vw;  
}

.MoveLabel {
    /* text-align: center; */
    color: rgb(22, 22, 22);
    /* margin: 0;
    padding: 0; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 68.5%;
    left: 1%;
    /* transform: translateX(-50%) translateY(-50%); */
    font-size: 1vw;  
}