button {
    color: white;
    background-color: rgb(22, 22, 22);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    font-size: 1.2vw;
    text-align: center;
}

.Shuffle {
    position: absolute;
    top: 77%;
    left: 1.5%;
    width: 7%;
}

.Sort {
    position: absolute;
    top: 77%;
    left: 9.5%;
    width: 7%;
}

.Randomize {
    position: absolute;
    top: 82%;
    left: 4.5%;
    width: 9%;
}

.About {
    position: absolute;
    top: 92%;
    left: 0.5%;
    width: 5%;
}

.Help {
    position: absolute;
    top: 92%;
    left: 6.5%;
    width: 5%;
}

.Info {
    position: absolute;
    top: 92%;
    left: 12.5%;
    width: 5%;
}