.SortingTitle {
    text-align: center;
    color: rgb(22, 22, 22);
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 15.5%;
    left: 6.5%;
    /* transform: translateX(-50%) translateY(-50%); */
    font-size: 1.3vw;
}

.SortingSelection {
    text-align: center;
    color: white;
    /* margin: 0;
    padding: 0; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 19%;
    left: 7%;
    /* transform: translateX(-50%) translateY(-50%); */
    font-size: 1.2vw;
    height: 3.75%;
    width: 10.5%;
    border-radius: 10px;
    border-width: 0;
    background-color: rgb(22, 22, 22);
}

.AlgorithmLabel {
    /* text-align: center; */
    color: rgb(22, 22, 22);
    /* margin: 0;
    padding: 0; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 19.5%;
    left: 1%;
    /* transform: translateX(-50%) translateY(-50%); */
    font-size: 1vw;
}

.DirectionSelection {
    text-align: center;
    color: white;
    /* margin: 0;
    padding: 0; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 26%;
    left: 7%;
    /* transform: translateX(-50%) translateY(-50%); */
    font-size: 1.2vw;
    height: 3.75%;
    width: 10.5%;
    border-radius: 10px;
    border-width: 0;
    background-color: rgb(22, 22, 22);
}

.DirectionLabel {
    /* text-align: center; */
    color: rgb(22, 22, 22);
    /* margin: 0;
    padding: 0; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 26.5%;
    left: 1%;
    /* transform: translateX(-50%) translateY(-50%); */
    font-size: 1vw;
}
